<!DOCTYPE html>
<html>
  <head>
    <title>GuitarListR7</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_pack_tag 'application', "data-turbo-track": "reload", defer: true %>
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <%= favicon_link_tag %>

  </head>

  <body>


    <% unless controller_name == 'sessions' && action_name == 'new' %>
      <%= render "shared/navbar" %>
    <% end %>

    <%= render "shared/flashes" %>

    <%= yield %>

    <%= yield :after_js %>

  </body>
</html>
